.footer {
	background-color: $color-grey-dark-3;
	padding: 10rem 0;
	font-size: 1.4rem;
	color: $color-grey-light;

	&__logo-box {
		text-align: center;
		margin-bottom: 8rem;
	}

	&__logo {
		width: 15rem;
		height: auto;
		display: inline-block;
	}
	&__navigation {
		border-top: 1px solid $color-grey-dark;
		padding-top: 2rem;
		display: inline-block;
	}

	&__list {
		list-style: none;
	}

	&__item {
		display: inline-block;

		&:not(:last-child) {
			margin-right: 1rem;
		}
	}

	&__link {
		&:link,
		&:visited {
			color: $color-grey-light;
			text-transform: uppercase;
			text-decoration: none;
			background-color: $color-grey-dark-3;
			display: inline-block;
			transition: all .3s;
		}
		&:hover {
			color: $color-primary;
			box-shadow: 0 1rem 2rem rgba($color-black, .4);
			transform: rotate(5deg) scale(1.3);
		}
		&:active {
			color: $color-grey-light;
		}
	}

	&__copyright {
		border-top: 1px solid $color-grey-dark;
		padding-top: 2rem;
		width: 80%;
		float: right;
	}
}
